.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba( 255,255,255, 0.5), rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover ;
    height:calc(100vh - 50px);
}

.registerTitle {
    font-size: 50px;
    font-style: bold;

}

.registerform {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
    margin-top:20px;
}
.registerform> label {
    font-size: 20px;
    margin-top:20px;
}

.registerInput {
    background-color: white;
    border:none;
    border-radius:10px;
    padding:10px;
    font-size: 16px;
    margin-top: 10px;
}

.registerInput:focus{
    outline: none;
}

.registerbtn {
    background-color: teal;
    color:white;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.registerbtn :hover {
    background-color: darkcyan;

}

.registerLoginbtn {
    padding:10px;
    color:white;
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    font-size: 16px;

    position:absolute;
    top:80px;
    right:20px;
}

.registerLoginbtn:hover { 
    background-color: crimson;
}
